

body{
    background: #000;
}

.fecha{
    font-family: 'Orbitron', sans-serif; 
    text-transform: uppercase;
    color: white;
}

.hora{
    font-family: 'Bungee Inline', cursive;
    text-transform: uppercase;
}

.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}


/* Celulares en vertical */
@media (min-width: 320px) { 
    .fecha{
        margin-top: 200px;
        font-size: 15px;
    }
    
    .hora{
        letter-spacing: 5px;
        font-size: 30px;
    }
    .madeBy{
        margin-top: 200px;
        font-size: 23px;
    }
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) { 
    .fecha{
        font-size: 35px;
    }
    
    .hora{
        letter-spacing: 4px;
        font-size: 60px;
    }
    .madeBy{
        margin-top: 200px;
        font-size: 40px;
    }
}

 
/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
    .fecha{
        font-size: 50px;
    }
    
    .hora{
        letter-spacing: 4px;
        font-size: 60px;
    }
    .madeBy{
        margin-top: 200px;
        font-size:50px;
    }
}
 
 
/* Escritorios muy anchos */
@media (min-width: 1200px) {
    .fecha{
        margin-top:50px;
        font-size: 60px;
    }
    
    .hora{
        letter-spacing: 4px;
        font-size: 60px;
        margin-top: 40px;
    }
    .madeBy{
        margin-top: 200px;
        font-size: 40px;
    }
}
 

